*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main1{
    height: auto;
}
body{
    margin:0;
    padding:0;
    background:white;
}

nav{
    width:100%;
    overflow:hidden;
    background:#fcfbfc;
    border-bottom:5px solid white;

}


.navUl{
    padding:0;
    /* width:100%; */
    margin:0 0 0 250px;
    list-style: none;
}


.navUl li{
    float: left;
}

.navUl li a{
    width:100px;
    display:block;
    padding:20px 15px;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-align:center;

}

li a:hover{
    cursor:pointer;
    
}

.logo a img{
    height:50px;
    width:150px;

}

.logo img{
    
    position:absolute;
    margin-top:5px;
    margin-left:10px;


}
.heading{
    margin:10px;
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
 

.part{
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
}

.part  li {
    width: 33.33%; /* Set width for three columns */
    box-sizing: border-box;
    padding: 5px;
}

.form-outline {
    position: relative;
  }

  .password-container {
    position: relative;
  }

  .eye-icon {
    position: absolute;
    right: 10px; /* Adjust the position as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: url('eye-icon.png') no-repeat center center; /* Replace 'eye-icon.png' with the path to your eye icon */
    width: 20px; /* Set the width of the icon */
    height: 20px; /* Set the height of the icon */
    display: inline-block;
  }

  .fa-eye{
    margin: -14px 0 0px 0px
  }

  .form-check{
    margin: 42px;
  }

  .term{
    margin: 35px;
  }

  .butn{
    
    background-color: #b4b0b04f;
    width: 80vh;
    margin: 8vh 9vh 0;
  }
  .spinner-border{
    margin: 0vh 38vh;
  }


.login{
    margin-left: 60px;
    margin-top: 2vh;
}
  